<!doctype html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style id="distill-article-specific-styles">
    <%=require("../static/styles.css") %>
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="https://distill.pub/template.v2.js"></script>
</head>

<body>

  <d-front-matter>
    <script type="text/json">
      <%= JSON.stringify(require("./frontmatter.json"), null, 4) %>
    </script>
  </d-front-matter>

  <d-title>
    <h1>Gaussian Belief Propagation for Spatial AI</h1>
    <p>A visual introduction to Gaussian Belief Propagation for realtime computer vision. </p>
  </d-title>

  <d-article>
    <d-contents>
      <nav class="l-text toc figcaption">
        <h3>Contents</h3>
        <div><a href="#spatialAI">Spatial AI</a></div>
        <div><a href="#gbp">Gaussian Belief Propagation</a></div>
        <div><a href="#related">Related Work</a></div>
        <div><a href="#theory">A brief Theoretical Background</a></div>
        <div><a href="#simulations">Simulated Geometric Estimation Problems</a></div>
        <ul>
          <li><a href="#1dsurface">1D Surface Fitting</a></li>
          <li><a href="#2drobot">2D Robot Simulation</a></li>
        </ul>
        <div><a href="#discussion">Discussion</a></div>
      </nav>
    </d-contents>

    <h2 id="spatialAI">Spatial AI </h2>
    <p>A cornerstone of intelligence.</p>
    <p>ElasticFusion, SemanticFusion: how to do it properly?</p>
    <p>Consistency, long term persistence, abstraction and efficiency</p>
    <p>Why? To enable intelligence! A robot will have a model of the world which is a simulation of reality based on all of its prior knowledge and ongoing experience; and be able to use it to make intelligent e.g. causal inferences about action. I believe in persistent scene representation for spatial reasoning. The foundation for higher level AI?</p>

    <h2 id="gbp">Why Gaussian Belief Propagation? </h2>

    <h3>Low power requires distributed computation and storage to fit new hardware
    </h3>
    <p> Sending data is costly in power comsumption. </p>
    <p>-> Message passing between processors with local computation and memory, either on a single chip or across multiple simple devices.</p> 

    <h3> Probabilistic fusion of heterogeneous inputs</h3>
    <p> A robot will need to probabilistically fuse different measurements and priors to jointly estimate its current state and optimise its representation of the environment. Bayesian probability theory, from which Gaussian Belief Propagation can be derived, provides a framework to combine constraints and perform probabilistic inference. </p> 

    <h3>We can build persistent and flexible representations from incremental measurements</h3>
    <p> <b>Flexibility</b>: Factor graphs can hold any combination of arbitary entities. This enables a natural interaction between different levels of hierarchy in a representation, such as sparse geometry and dense semantic information. </p>
    <p> <b>Persistence</b>: Full joint optimisation is ongoing in the background. Attention can bring into focus area of map. How is this an advantage over LM? </p>
    <p>-> Changing, irregular structure of measurements represented by a factor graph</p> 
    <p>-> Belief propagation: probabilistic message passing for in-place, convergent inference on a factor graph</p> 

    <h3>Gaussian: most efficient way to represent probability distributions
</h3>
    <p>-> Gaussian Belief Propagation: messages take the form of small information vectors and matrices; all the same local operations as in Kalman Filtering or non-linear optimisation.
</p>

    <h2 id="related"> Related work</h2>

    <p> Bundle Adjustment <d-cite key="ortiz2020gbp"></d-cite></p>


    <h2 id="theory">A quick run through of the maths </h2>

    <h3> Factor Graphs </h3>

    <p> Any linear equation <d-math>Ax = b</d-math> can be represented as a factor graph. Topology encodes structure of matrix <d-math>A</d-math>. </p>

    <h3> Gaussian Belief Propagation </h3>

    <p>Intuition of the algorithm. <a
        href="https://github.com/distillpub/template/wiki/Annotated-Formulas">Annotated formula</a> for message passing.</p>
    <p>Relation to energy based models. </p>

    <p> Visualisation of taking products of 2D Gaussians. </p>

    <figure class="l-page">
      <d-figure id="gaussprod"></d-figure>
        <figcaption>Taking products of Gaussians.</figcaption>
      </figure>
    </figure>

    <p> Computing marginal distribution is equivalent to MAP with Gaussians. Relinearisation. </p>

    <d-math block="">
      p(\bold{x}_i) = \int p(\bold{x}) d\bold{x}_1 ... d\bold{x}_{i-1} d\bold{x}_{i+1} ... d\bold{x}_{n}
    </d-math>


    <p> Flexibility in message passing schedule. </p>

    <h2 id="simulations">Simulated geometric estimation problems </h2>

    <h4 id="1dsurface">1D Surface estimation</h4>

    <p> How to formulate the measurement and smoothness factors. </p>

    <figure class="l-page-outset">
      <d-figure id="gbp1d"></d-figure>
        <figcaption>Surface Fitting simulation.</figcaption>
      </figure>
    </figure>


    <h4 id="2drobot">2D Robot Simulation </h4>

    <p> How to formulate 2D measurement factors. </p>

    <p> We can begin with purely linear measurement factors.</p>

    <figure class="l-page-outset" id="robot-container">
      <d-figure id="RobotSim"></d-figure>
        <figcaption>Robot simulation with linear measurement factors.</figcaption>
      </figure>
    </figure>

    <p> We now introduce non-linear measurement factors.</p>

    <figure class="l-page-outset" id="robot-nonlinear-container">
      <d-figure id="RobotNonlinearSim"></d-figure>
        <figcaption>Robot simulation with non-linear measurement factors.</figcaption>
      </figure>
    </figure>

    <p> Lastly we can introduce smoothness factors, for instance enforcing landmarks to be co-linear.</p>

    <figure class="l-page-outset" id="robot-room-container">
      <d-figure id="RobotRoomSim"></d-figure>
        <figcaption>Robot simulation with smoothness constraints between landmarks.</figcaption>
      </figure>
    </figure>

    <h2 id="discussion">Discussion</h2>


  </d-article>


  <d-appendix>
    <h3>Acknowledgments</h3>
    <p>
    </p>

    <h3>Author Contributions</h3>
    <p>
      <b>Research:</b> 
    </p>

    <p>
      <b>Writing & Diagrams:</b> 
    </p>


    <d-footnote-list></d-footnote-list>
    <d-citation-list></d-citation-list>
  </d-appendix>

  <!-- bibliography will be inlined during Distill pipeline's pre-rendering -->
  <d-bibliography src="bibliography.bib"></d-bibliography>

</body>